body {
    background-color: lightgrey;
    font-family: 'Verdana, Tehoms, sans-serif';
    font-size: 16px;
}

.branding{
    font-size: 17px;
}

.showcase{
    background: url('../img/Часть\ схемы\ 3.png') no-repeat;
    background-size: auto 600px;
    background-position: center center;
    height: 600px;
    padding: 140px 100px;
    color: black;
}

.showcase h1{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.showcase hr {
    margin: auto;
    width: 50%;
    height: 1px;
    border-width: 2px;
    border-color: black;
    padding: 0;
}
